<a href="https://colab.research.google.com/github/makenna-allen/Acctg-5150/blob/main/labs_hw/week2_connecting-to-data/Lab%202%20-%20Opening%20and%20Cleaning%20Data.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Lab 2 - Opening and Cleaning Data

<a href="https://colab.research.google.com/github/gaulinmp/AccountingDataAnalytics/blob/main/labs_hw/week2_connecting-to-data/Lab 2 - Opening and Cleaning Data.ipynb" target="_parent">
<img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/>
</a>

This notebook will walk you through the process of opening and cleaning the Journal Entry dataset. We will cover the following steps:

1. Loading the data
2. Cleaning the data

The intent of the notebook is for you to execute each cell in order. Some will work, others will throw errors, and then I'll explain what's going on, and help you through it.
If you're new to programming, it can sometimes feel daunting, so I want to provide these initial notebooks to help you get started, and hopefully show you that programming (especially in Colab) isn't all that bad once you try it out.

In [25]:
# This is a comment

# The code below are called imports, which is basically telling python to load specific functionality
# This one uses a python library called pathlib to access the Path object, which is just a way of pointing to files on the computer
from pathlib import Path
# This import is the real magic, pandas is the library that makes data manipulation easy (well... easier)
import pandas as pd

In [26]:
# Point to the file, and make sure it exists
file_path = Path("JEA Detail.txt")
file_path.exists()

True

That should say True above. If it says False, then your data is not loaded correctly. Please make sure to drag the `JAE Detail.txt` file into your Colab page (see Lab 1 for instructions).

Okay, now to actually load the data:

In [27]:
# Load the data into pandas
df = pd.read_csv(file_path)
# Display the first few rows of the DataFrame
df.head()

UnicodeDecodeError: 'utf-8' codec can't decode byte 0xff in position 0: invalid start byte

Oh no! An Error!

Welcome to debugging. This is often the hardest and least rewarding part of programming, because while there is often a few right ways to do something, there are infinite *wrong* ways to do something. So it's like searching for a needle in an infinite ocean of rusty needles.

*Future Mac here: I wrote this lab on my local machine, then tried it out on Google Colab. Colab shows you a button that says Next Steps: Explain Error. If you click this button, it immediately comes up with the solution. Being suspicious, I tried a new notebook with just the pandas read, and it took me 6 or 7 leading questions with this button and interacting with Gemini before I got the full solution working. So in this notebook, Gemini is reading down below, sees that I've solved the problem, and passes off the solution as its own. AI is all just plagerism anyway, so maybe unsurprising? Anyway, if you want the "authentic" coding with AI in Colab experience, I suggest starting an empty notebook and writing the code from scratch with its help. That'll be more indicative of what you might expect in practice. And now I know that Google Colab is great for debugging much faster than with just my meat brain!*

In this case, we look at the error, specifically `UnicodeDecodeError` and try googling for that. So I copy and paste that last line into [Gemini](https://gemini.google.com) (or [Claude](https://claude.ai) or [ChatGPT](https://chat.openai.com)), which tells me:

<blockquote>
  You're encountering a **UnicodeDecodeError: 'utf-8' codec can't decode byte 0xff in position 0: invalid start byte** because you're trying to decode a byte sequence as UTF-8, but the sequence doesn't conform to the UTF-8 encoding standard. Specifically, the byte `0xff` is not a valid starting byte for any UTF-8 character. This often happens when:

  * **The file isn't actually UTF-8 encoded.** It might be encoded in a different character set, like Latin-1 (ISO-8859-1), UTF-16, or something else entirely.
  * **The file is corrupted or contains binary data.** If the file isn't purely text, or if it's been damaged, you might find non-textual bytes at the beginning.

Here's how to approach and fix this error:

...
</blockquote>

It then suggests some code to try the other main encoding, `latin-1`:

In [28]:
try:
    with open(file_path, 'r', encoding='utf-8') as f:
        content = f.read()
except UnicodeDecodeError:
    print("UTF-8 decoding failed. Trying latin-1...")
    try:
        with open(file_path, 'r', encoding='latin-1') as f:
            content = f.read()
        print("Successfully decoded with latin-1.")
    except Exception as e:
        print(f"Latin-1 decoding also failed: {e}")
        # You might try other encodings here, like 'cp1252' or 'utf-16'

UTF-8 decoding failed. Trying latin-1...
Successfully decoded with latin-1.

Okay, so that worked! Thanks AI.

*Narrator: It didn't. Google's overconfidence would soon dissapoint the eager student.*

Okay, so back to pandas:

In [29]:
# Load the data into pandas
df = pd.read_csv(file_path, encoding="latin-1")
# Display the first few rows of the DataFrame
df.head()

ParserError: Error tokenizing data. C error: Expected 1 fields in line 11, saw 2

Nooooooooooooooooooooooooo. What's happening now? Well the error seems to say it expected 1 column, but saw 2. Wait, shouldn't there be more than 1 column?

Okay, let's look at the data (we should have started here, but we're eager) (also note that exclamation mark `!head` command in the next line, that's not Python. Then what *is* it? I suggest you ask the internet to find out this lovely little bit of Notebook tech).

In [30]:
!head "{file_path}"

��C o m p a n y   X Y Z   	 	 	 	 	 	 	 	 	   P A G E   0 0 0 1   	 	 	 
 R E P O R T   D A T E :   0 2 / 0 7 / 2 2     1 2 : 3 2 	 	 	 	 	 	 	 	 	 	 	 	 
 	 	 	 	 	 	 	 	 	 	 	 	 
 	 	 	 G E N E R A L   L E D G E R   D E T A I L 	 	 	 	 	 	 	 	 	 
 	 	 	 A S   O F   1 2 / 3 1 / 2 1 	 	 	 	 	 	 	 	 	 
 	 	 	 	 	 	 	 	 	 	 	 	 
 	 	 	 	 	 	 	 	 	 	 	 	 
 = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = 	 	 	 	 	 	 	 	 	 	 	 	 
 	 A c c o u n t 	 P o s t 	 	 U s e r 	 	 	 T r a n s a c t i o n 	 	 	 	 	 
 A c c o u n t 	 C a t e g o r y 	 D a t e 	 P e r i o d 	 I D 	 M a n u a l 	 D e s c r i p t i o n 	 N u m b e r 	 L o c a t i o n 	 A m o u n t 	 	 	 

Uh... that's ugly. What's going on? Well, a few things. Playing with raw data is hard, Excel, Tableau, Alteryx, etc. have put a lot of code into trying to figure out things like this. But in Python, we'd have to do it ourselves. Let's start with the fact that there's two � things at the start. And here's where years of fighting with Python and Unicode helps (call it an unfair professor's advantage). Let's look at what those are:

In [31]:
raw_data = file_path.read_bytes()
# Print the first 16 bytes to inspect. Why 16? Because I started with 100 then realized I could make my point by just showing the first 16.
print(raw_data[:16])

b'\xff\xfeC\x00o\x00m\x00p\x00a\x00n\x00y\x00'

So we see two bytes *(\x signifies hexidecimal, which is decimal + 6, so 1,2,3,4,5,6,7,8,9,a,b,c,d,e,f)*, which are "\xff\xfe" and then we see `C`, then `\x00`, then `o`, then `\x00`. So it looks like `Company` with `\x00` between each character. If we had fought with unicode long enough, we might immediately think "Oh, that's a 2 byte unicode, let's try UTF-16". But we might not have that experience, so instead, let's just ask gemini again:

**Me**: I have a file that starts with b'\xff\xfeC\x00o\x00m\x00p\x00a\x00n\x00y\x00' and I think it should start with "Company". What gives?

**Gemini**: That `b'\xff\xfeC\x00o\x00m\x00p\x00a\x00n\x00y\x00'` prefix means your file is encoded in UTF-16 Little Endian (UTF-16-LE). The `\xff\xfe` at the beginning is a Byte Order Mark (BOM), which tells a program how the bytes are arranged. Try `byte_string.decode('utf-16-le')`

In [32]:
print(raw_data.decode('utf-16-le')[:1000])

﻿Company XYZ 									 PAGE 0001
REPORT DATE: 02/07/22  12:32

			GENERAL LEDGER DETAIL
			AS OF 12/31/21


====================================================================================================================================================================================================================================
	Account	Post		User			Transaction
Account	Category	Date	Period	ID	Manual	Description	Number	Location	Amount
9504 Rent Expense	SG&A	9/11/2024	9	Laura4	Yes	Rent	1000	LA	" 50,000.00 "
9504 Rent Expense	SG&A	8/11/2024	8	Automated	No	Rent	1001	LA	" 50,000.00 "
9504 Rent Expense	SG&A	7/11/2024	7	"
BeanCounter25"	Yes	Rent	1002	LA	" 50,000.00 "
9504 Rent Expense	SG&A	6/11/2024	6	"
BeanCounter25"	Yes	Rent	1003	LA	" 50,000.00 "
9504 Rent Expense	SG&A	5/11/2024	5	"
BeanCounter25"	Yes	Rent	1004	LA	" 50,000.00 "
9504 Rent Expense	SG&A	4/11/2024	4	Automated	No	Rent

That looks like data! Okay, now to read it in Pandas. But wait! It looks like it has spaces (actually tabs) between the columns, not commas. And the pandas command we're using is `read_csv` which means comma separated values. So we have to tell it that the file uses tabs:

In [33]:
# Load the data into pandas
df = pd.read_csv(file_path, encoding="utf-16-le", sep='\t')
# Display the first few rows of the DataFrame
df.head(10)

,Company XYZ,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,PAGE 0001,Unnamed: 10,Unnamed: 11,Unnamed: 12
0,REPORT DATE: 02/07/22 12:32,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,NaN,NaN,NaN,GENERAL LEDGER DETAIL,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,NaN,NaN,NaN,AS OF 12/31/21,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6,==============================================...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7,NaN,Account,Post,NaN,User,NaN,NaN,Transaction,NaN,NaN,NaN,NaN,NaN
8,Account,Category,Date,Period,ID,Manual,Description,Number,Location,Amount,NaN,NaN,NaN
9,9504 Rent Expense,SG&A,9/11/2024,9,Laura4,Yes,Rent,1000,LA,"50,000.00",NaN,NaN,NaN

Well, the data look ugly, but at least we are reading it in.

Now we should just skip those first 8 rows of "noise":

In [34]:
# Load the data into pandas
df = pd.read_csv(file_path, encoding="utf-16-le", sep='\t', skiprows=8)
# Display the first few rows of the DataFrame
df.head(10)

,Unnamed: 0,Account,Post,Unnamed: 3,User,Unnamed: 5,Unnamed: 6,Transaction,Unnamed: 8,Unnamed: 9,Unnamed: 10,Unnamed: 11,Unnamed: 12
0,Account,Category,Date,Period,ID,Manual,Description,Number,Location,Amount,NaN,NaN,NaN
1,9504 Rent Expense,SG&A,9/11/2024,9,Laura4,Yes,Rent,1000,LA,"50,000.00",NaN,NaN,NaN
2,9504 Rent Expense,SG&A,8/11/2024,8,Automated,No,Rent,1001,LA,"50,000.00",NaN,NaN,NaN
3,9504 Rent Expense,SG&A,7/11/2024,7,\nBeanCounter25,Yes,Rent,1002,LA,"50,000.00",NaN,NaN,NaN
4,9504 Rent Expense,SG&A,6/11/2024,6,\nBeanCounter25,Yes,Rent,1003,LA,"50,000.00",NaN,NaN,NaN
5,9504 Rent Expense,SG&A,5/11/2024,5,\nBeanCounter25,Yes,Rent,1004,LA,"50,000.00",NaN,NaN,NaN
6,9504 Rent Expense,SG&A,4/11/2024,4,Automated,No,Rent,1005,LA,"50,000.00",NaN,NaN,NaN
7,9504 Rent Expense,SG&A,3/11/2024,3,Automated,No,Rent,1006,LA,"50,000.00",NaN,NaN,NaN
8,9504 Rent Expense,SG&A,2/11/2024,2,Automated,No,Rent,1007,LA,"50,000.00",NaN,NaN,NaN
9,9504 Rent Expense,SG&A,1/11/2024,1,Laura4,Yes,Rent,1008,LA,"50,000.00",NaN,NaN,NaN

Those headers are ugly, because the input file wasn't machine-readable friendly, and split the columns across two lines. Unfortunately, there's no clean way to deal with that (we could open the file, look for the ===== separator, and then re-assemble the headers manually). For now, let's assume that these columns won't change, so we can just hard-code the column names that need extra words, so skip 9 rows and add back "Account", "Post", "User", and "Transaction".

In [35]:
# Load the data into pandas
df = pd.read_csv(file_path, encoding="utf-16-le", sep='\t', thousands=',', skiprows=9)
# Rename the columns
df = df.rename(columns={
    'Category': 'Account Category',
    'Date': 'Post Date',
    'ID': 'User ID',
    'Number': 'Transaction Number'
})
# Display the first few rows of the DataFrame
df.head(10)

,Account,Account Category,Post Date,Period,User ID,Manual,Description,Transaction Number,Location,Amount,Unnamed: 10,Unnamed: 11,Unnamed: 12
0,9504 Rent Expense,SG&A,9/11/2024,9.0,Laura4,Yes,Rent,1000.0,LA,"50,000.00",NaN,NaN,NaN
1,9504 Rent Expense,SG&A,8/11/2024,8.0,Automated,No,Rent,1001.0,LA,"50,000.00",NaN,NaN,NaN
2,9504 Rent Expense,SG&A,7/11/2024,7.0,\nBeanCounter25,Yes,Rent,1002.0,LA,"50,000.00",NaN,NaN,NaN
3,9504 Rent Expense,SG&A,6/11/2024,6.0,\nBeanCounter25,Yes,Rent,1003.0,LA,"50,000.00",NaN,NaN,NaN
4,9504 Rent Expense,SG&A,5/11/2024,5.0,\nBeanCounter25,Yes,Rent,1004.0,LA,"50,000.00",NaN,NaN,NaN
5,9504 Rent Expense,SG&A,4/11/2024,4.0,Automated,No,Rent,1005.0,LA,"50,000.00",NaN,NaN,NaN
6,9504 Rent Expense,SG&A,3/11/2024,3.0,Automated,No,Rent,1006.0,LA,"50,000.00",NaN,NaN,NaN
7,9504 Rent Expense,SG&A,2/11/2024,2.0,Automated,No,Rent,1007.0,LA,"50,000.00",NaN,NaN,NaN
8,9504 Rent Expense,SG&A,1/11/2024,1.0,Laura4,Yes,Rent,1008.0,LA,"50,000.00",NaN,NaN,NaN
9,9504 Rent Expense,SG&A,10/11/2024,10.0,Automated,No,Rent,1009.0,LA,"50,000.00",NaN,NaN,NaN

Now let's drop the three columns at the end that are entirely empty. That's what the `how='all'` means. `axis=1` means check columns, `axis=0` would check the rows for all missings.

In [36]:
df = df.dropna(how='all', axis=1)

Now let's remove newline (`\n`) at the beginning of the `BeanCounter25`. While you're at it, [look up](https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.Series.str.html) what `.str` is doing.

In [37]:
df["User ID"] = df["User ID"].str.strip()

Let's look at the cleaned DataFrame again (I'll cheat and show you a few rows down, so you can see the next issue, which is what [`iloc`](https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.DataFrame.iloc.html) is doing):

In [38]:
df.iloc[42:48]

,Account,Account Category,Post Date,Period,User ID,Manual,Description,Transaction Number,Location,Amount
42,9504 Rent Expense,SG&A,7/25/2024,7.0,BeanCounter25,Yes,Rent,1042.0,SF,"20,000.00"
43,9504 Rent Expense,SG&A,8/25/2024,8.0,Karen15,Yes,Rent,1043.0,SF,"20,000.00"
44,9504 Rent Expense,SG&A,9/25/2024,9.0,Automated,No,Rent,1044.0,SF,"20,000.00"
45,==============================================...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
46,,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,PAGE 0002
47,9504 Rent Expense,SG&A,10/25/2024,10.0,Automated,No,Rent,1045.0,SF,"20,000.00"

So we have some bad lines to remove. I suggest dropping them by requiring one of the columns to be non-missing.

In [39]:
df = df.dropna(subset=['User ID'])

Lastly, we have "data types" to fix. If you look at the `dtypes` attribute, you'll see that the `Amount` and `Period` columns are `object`, which means they're strings.

In [50]:
df.dtypes

Account                       object
Account Category              object
Post Date             datetime64[ns]
Period                       float64
User ID                       object
Manual                        object
Description                   object
Transaction Number           float64
Location                      object
Amount                       float64
dtype: object

But we know that these are actually a numeric value and date respectively, so we you should convert them to the appropriate types:

In [53]:
df['Amount'] = pd.to_numeric(df["Amount"])
df['Post Date'] = pd.to_datetime(df["Post Date"])
print(df.dtypes)

Account                       object
Account Category              object
Post Date             datetime64[ns]
Period                       float64
User ID                       object
Manual                        object
Description                   object
Transaction Number           float64
Location                      object
Amount                       float64
dtype: object

Now, the last step is to produce the Lab's output, which is a screenshot of the cleaned table, and to list the unique `User ID` values. There are a few ways to do this, and if you put your cursor after `df['User ID']` and wait, Gemini might even suggest a solution for you (but only because I wrote that comment, if it weren't there, then it wouldn't know what you want. Remember this for future reference, it's *incredibly useful* to know that you can often just write a comment and get AI to give you the code to do it).

In [51]:
df.head()

,Account,Account Category,Post Date,Period,User ID,Manual,Description,Transaction Number,Location,Amount
0,9504 Rent Expense,SG&A,2024-09-11,9.0,Laura4,Yes,Rent,1000.0,LA,NaN
1,9504 Rent Expense,SG&A,2024-08-11,8.0,Automated,No,Rent,1001.0,LA,NaN
2,9504 Rent Expense,SG&A,2024-07-11,7.0,BeanCounter25,Yes,Rent,1002.0,LA,NaN
3,9504 Rent Expense,SG&A,2024-06-11,6.0,BeanCounter25,Yes,Rent,1003.0,LA,NaN
4,9504 Rent Expense,SG&A,2024-05-11,5.0,BeanCounter25,Yes,Rent,1004.0,LA,NaN

In [58]:
unique_series = pd.Series(df["User ID"].unique())
print(unique_series)

0           Laura4
1        Automated
2    BeanCounter25
3             Bob2
4          Karen15
5             CFO2
6            Kayla
dtype: object

Now take a screenshot, and you're done! I'd save this notebook, because Homework 2 builds on it.

In [60]:
df.pivot_table(
    index='Account Category',
    columns='User ID',
    values='Amount',
    aggfunc='sum',
    margins=True,
    margins_name="Total"
)

User ID,Automated,BeanCounter25,Bob2,CFO2,Karen15,Kayla,Laura4,Total
Account Category,,,,,,,,
Accounts Payable,-3.678885e+07,25054257.64,NaN,NaN,5.128358e+06,NaN,NaN,-6.606233e+06
Accounts Receivable,-4.146188e+07,NaN,NaN,NaN,NaN,NaN,NaN,-4.146188e+07
Accrued salaries and wages,NaN,0.00,NaN,NaN,NaN,NaN,NaN,NaN
Accumulated Depreciation,NaN,0.00,NaN,NaN,NaN,NaN,0.00,NaN
Additional paid in capital,NaN,0.00,NaN,NaN,NaN,NaN,NaN,NaN
Allowance for Doubtfull Accounts,NaN,NaN,NaN,-1370512.42,NaN,NaN,NaN,-1.370512e+06
Bad Debt Expense,NaN,NaN,NaN,1370512.42,NaN,NaN,NaN,1.370512e+06
Bonds Payable,NaN,NaN,NaN,0.00,NaN,NaN,NaN,NaN
COGS,2.649782e+05,NaN,NaN,NaN,NaN,NaN,NaN,2.649782e+05
Cash,3.940583e+07,-25056678.06,-4.466590e+03,-2777.67,-5.130485e+06,0.0,-4862.40,9.206563e+06
Common Stock,NaN,0.00,NaN,NaN,NaN,NaN,NaN,NaN
Depreciation Expense,NaN,0.00,NaN,NaN,NaN,NaN,NaN,NaN
Glove Revenue,-5.468540e+04,NaN,NaN,NaN,NaN,NaN,NaN,-5.468540e+04
Hat Revenue,-4.699808e+04,NaN,NaN,NaN,NaN,NaN,NaN,-4.699808e+04
Income -close out,NaN,NaN,NaN,NaN,0.000000e+00,NaN,NaN,NaN
Income Tax Expense,NaN,NaN,NaN,NaN,7.902227e+05,NaN,NaN,7.902227e+05
Income Tax payable,NaN,NaN,NaN,NaN,-7.902227e+05,NaN,NaN,-7.902227e+05
Interest Expense,0.000000e+00,NaN,0.000000e+00,0.00,NaN,NaN,NaN,NaN
Interest Payable,0.000000e+00,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Inventories,3.871033e+07,NaN,NaN,NaN,NaN,NaN,NaN,3.871033e+07
Other Realized Loss -Gain,NaN,NaN,NaN,NaN,NaN,NaN,0.00,NaN
PP&E,NaN,NaN,NaN,NaN,NaN,NaN,0.00,NaN
Prepaid Expenses,NaN,0.00,NaN,NaN,NaN,NaN,NaN,NaN
Retained Earnings,NaN,NaN,NaN,NaN,0.000000e+00,NaN,NaN,NaN
SG&A,1.289455e+04,2420.42,4.466590e+03,2777.67,2.127260e+03,0.0,4305.29,2.899178e+04
Short-term Investments,1.163400e+02,0.00,NaN,NaN,NaN,NaN,557.11,6.734500e+02
Sock Revenue,-4.174350e+04,NaN,NaN,NaN,NaN,NaN,NaN,-4.174350e+04
Total,0.000000e+00,0.00,-1.705303e-13,0.00,0.000000e+00,NaN,0.00,-8.731149e-10